<article class="{{post_class}} swiper-slide" {{#if feature_image}}style="background-image: url({{img_url feature_image}})"{{/if}}>
    <div class="row">
        <div class="col-md-12">
            <div class="box-content">
                <h2 class="post-title"><a href="{{url}}" title="{{title}}">{{title}}</a></h2>
                <div class="post-meta">
                    <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMM YYYY"}}</time>
                    <div class="author-name">— by {{author}}</div>
                </div>
            </div>
        </div>
    </div>
</article>