<article class="{{post_class}}">
    <div class="row">
        <div class="col-md-12">
            <div class="box-content">
                <div class="feature-img" style="background-image: url({{img_url feature_image}})"></div>
                <span class="nr">0{{@number}}</span>
                <h2 class="post-title"><a href="{{url}}" title="{{title}}">{{title}}</a></h2>
                <div class="post-meta">
                    <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMM YYYY"}}</time>
                </div>
                <a href="#" class="prev">
                    <svg width="26" height="16" viewBox="0 0 26 16" xmlns="http://www.w3.org/2000/svg"><g stroke="#000" stroke-width="3" fill="none" fill-rule="evenodd"><path d="M9.95 1.06L3 8.01l6.95 6.95M3 8.01h23"/></g></svg>
                </a>
                <a href="#" class="next">
                    <svg width="26" height="16" viewBox="0 0 26 16" xmlns="http://www.w3.org/2000/svg"><g stroke="#000" stroke-width="3" fill="none" fill-rule="evenodd"><path d="M16.05 1.06L23 8.01l-6.95 6.95M23 8.01H0"/></g></svg>
                </a>
            </div>
        </div>
    </div>
</article>