<article class="{{post_class}}">
    <div class="row">
        <div class="col-md-12">
            <div class="box-content">
                <div class="feature-img" style="background-image: url({{img_url feature_image}})"></div>
                <span class="nr">0{{@number}}</span>
                <h2 class="post-title"><a href="{{url}}" title="{{title}}">{{title}}</a></h2>
                <div class="post-meta">
                    <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMM YYYY"}}</time>
                </div>
                <a href="#" class="prev">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </a>
                <a href="#" class="next">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</article>