        <header>
            <div class="container">
                <div class="row">
                    <div class="col-6 ml-auto">
                        <div class="blog-logo">
                            <a href="{{@blog.url}}" title="{{@blog.title}}">
                                {{#if @blog.logo}} <img src="{{@blog.logo}}" alt="{{@blog.title}}" /> {{else}}<span>{{@blog.title}}</span>{{/if}} 
                            </a>
                        </div>
                    </div>
                    <div class="col-6 text-right btns">
                        <a href="#" class="search" data-toggle="modal" data-target="#search">
                            <img src="{{asset "img/search.svg"}}">
                        </a>
                        <a href="#" class="bookmark" data-toggle="modal" data-target="#bookmark">
                            <span class="counter hidden"></span>
                            <img src="{{asset "img/bookmark.svg"}}">
                        </a>
                        <a href="#" class="menu" data-toggle="modal" data-target="#menu">
                            <img src="{{asset "img/menu.svg"}}">
                        </a>
                    </div>
                </div>
            </div>           

            <!-- Search Modal -->
            <div class="modal fade-scale" id="search" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="container">
                                <div class="row">
                                    <div class="col-6 ml-auto">
                                        <div class="blog-logo">
                                            <a href="{{@blog.url}}" title="{{@blog.title}}">
                                                {{#if @blog.logo}} <img src="{{@blog.logo}}" alt="{{@blog.title}}" /> {{else}}<span>{{@blog.title}}</span>{{/if}} 
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-6 text-right btns">
                                        <a href="#" data-dismiss="modal" aria-label="Close">
                                            <svg width="23" height="21" viewBox="0 0 23 21" xmlns="http://www.w3.org/2000/svg"><g stroke="#B9B2A2" fill="none" fill-rule="evenodd" stroke-linecap="square"><path d="M21.4473684.55263158L1.17249143 20.8275086M1.5526316.55263158L21.82750857 20.8275086"/></g></svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-10 offset-md-1">
                                        <form class="search">
                                            <input id="search-field" placeholder="Search" autocomplete="off"/>
                                        </form>
                                        <div id="results"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer"></div>
                    </div>
                </div>
            </div>

            <!-- Bookmark Modal -->
            <div class="modal fade-scale" id="bookmark" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="container">
                                <div class="row">
                                    <div class="col-6 ml-auto">
                                        <div class="blog-logo">
                                            <a href="{{@blog.url}}" title="{{@blog.title}}">
                                                {{#if @blog.logo}} <img src="{{@blog.logo}}" alt="{{@blog.title}}" /> {{else}}<span>{{@blog.title}}</span>{{/if}} 
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-6 text-right btns">
                                        <a href="#" data-dismiss="modal" aria-label="Close">
                                            <svg width="23" height="21" viewBox="0 0 23 21" xmlns="http://www.w3.org/2000/svg"><g stroke="#B9B2A2" fill="none" fill-rule="evenodd" stroke-linecap="square"><path d="M21.4473684.55263158L1.17249143 20.8275086M1.5526316.55263158L21.82750857 20.8275086"/></g></svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-10 offset-md-1">
                                        <h3>Bookmarks</h3>
                                        <div class="bookmark-container">
                                            <p class="no-bookmarks">You haven't yet saved any bookmarks. To bookmark a post, just click <i class="circle"></i>.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer"></div>
                    </div>
                </div>
            </div>

            <!-- Menu Modal -->
            <div class="modal fade-scale" id="menu" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="container">
                                <div class="row">
                                    <div class="col-6 ml-auto">
                                        <div class="blog-logo">
                                            <a href="{{@blog.url}}" title="{{@blog.title}}">
                                                {{#if @blog.logo}} <img src="{{@blog.logo}}" alt="{{@blog.title}}" /> {{else}}<span>{{@blog.title}}</span>{{/if}} 
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-6 text-right btns">
                                        <a href="#" data-dismiss="modal" aria-label="Close">
                                            <svg width="23" height="21" viewBox="0 0 23 21" xmlns="http://www.w3.org/2000/svg"><g stroke="#B9B2A2" fill="none" fill-rule="evenodd" stroke-linecap="square"><path d="M21.4473684.55263158L1.17249143 20.8275086M1.5526316.55263158L21.82750857 20.8275086"/></g></svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        {{navigation}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <ul class="social">
                                {{#if @blog.facebook}}
                                    <li><a href="{{facebook_url}}" class="facebook" title="{{@blog.facebook}}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                {{/if}}
                                {{#if @blog.twitter}}
                                    <li><a href="{{twitter_url}}" class="twitter" title="{{@blog.twitter}}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                {{/if}}
                                <li><a href="https://www.youtube.com/" class="youtube" title="Youtube" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.instagram.com/" class="instagram" title="Instagram" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="{{@blog.url}}/rss"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>